.box-container{
  display: flex;
  justify-content: center;
}
.box{
  border: 10px solid black;
  width: 500px;
  height: 500px;
  text-align: center;
  margin: 1em;
}

.img{
  width: 400px;
}

.btn{
  display: flex;
  justify-content: center;
}

.ui{
  text-align: center;
}
.winer{
  border: solid 10px green;
  color: green;
}
.loser{
  border: solid 10px red;
  color: red;
}
.Tie{
  border: solid 10px black;
  color: black;
}

.btn{
  margin: 1em;
}

.btn span{
  cursor: pointer;
  margin-right: 6px;
}